.date-input {
  --root-font-size: 16px;
  --root-font-size-calc: 16;
  --cell-height: calc(40 / var(--root-font-size-calc) * 1em);

  --highlight-color: #4090ff;
  --border-color: #ccc;
  --disabled-color: #ccc;

  --border-width: 3px;

  --slide-duration: .15s;
  --fade-duration: .3s;
}
