@import '_vars';

@keyframes delayVisbility {
  99% {
    visibility: visible;
  } to {
    visibility: hidden;
  }
}

.date-input [data-role=state] {
  position: absolute;
  width: 0;
  height: 0;
  left: 0;
  top: 0;
  visibility: hidden;
}

.date-input .container {
  position: absolute;
  padding: 1rem;
  border: 1px solid var(--border-color);
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.date-input .date-input__nav {
  position: relative;
  display: flex;
  height: var(--cell-height);
  margin: 0;
  padding: 0;
  list-style: none;
  font-weight: bold;
  border-bottom: 1px solid var(--border-color);
}

.date-input .date-input__nav::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  width: calc(100%/3);
  border-bottom: var(--border-width) solid var(--highlight-color);

  transition: transform .15s ease-out;
}

.date-input .date-input__nav > li {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}

.date-input .date-input__nav label {
  display: inherit;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.date-input .date-input__view-list {
  display: flex;
  width: calc(var(--cell-height) * 7);
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

.date-input .date-input__view-list > li {
  position: relative;
  width: 100%;
  flex-shrink: 0;
  flex-grow: 0;

  z-index: 0;
  opacity: 0;
  transition: opacity .3s ease-out;
  animation: delayVisbility 0.1s .3s linear both;
}

.date-input .date-input__view-list > li:not(:first-child){
  margin-left: -100%;
}

.date-input .date-input__view--days table {
  margin-bottom: 1px;
  border-collapse: collapse;
}

.date-input .date-input__view--days th,
.date-input .date-input__view--days td {
  width: var(--cell-height);
  height: var(--cell-height);
  padding: 0;
  text-align: center;
  border: 1px solid var(--border-color);
}

.date-input .date-input__view--days th {
  vertical-align: bottom;
  border-top-color: transparent;
  border-right-color: transparent;
  border-left-color: transparent;
}

.date-input .date-input__view--months ol,
.date-input .date-input__view--years ol {
  margin: 0;
  padding: 0;
  list-style: none;
  border: solid var(--border-color);
  border-width: 0 1px 0 0;
}

.date-input .date-input__view--months ol {
  column-count: 2;
  column-gap: 0;
}

.date-input .date-input__view--months ol > li,
.date-input .date-input__view--years ol > li {
  display: flex;
  align-items: center;
  height: var(--cell-height);
  padding: 0 1em;
  border: solid var(--border-color);
  border-width: 0 0 1px 1px;
}

.date-input .date-input__view--years ol {
  position: absolute;
  overflow-y: auto;
  max-height: 100%;
  width: 100%;
}

.date-input .date-input__view--days .current {
  font-weight: bold;
}

.date-input .date-input__view--days .selected,
.date-input .date-input__view--months .selected,
.date-input .date-input__view--years .selected {
  position: relative;
  font-weight: bold;
}

.date-input .date-input__view--days .selected::before,
.date-input .date-input__view--months .selected::before,
.date-input .date-input__view--years .selected::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  border: 0 solid var(--highlight-color);
}

.date-input .date-input__view--days .selected::before {
  right: 0;
  border-width: 3px;
}

.date-input .date-input__view--months .selected::before,
.date-input .date-input__view--years .selected::before {
  border-left-width: 3px;
}


.date-input .container input:first-of-type:checked ~ .date-input__view-list > li:first-of-type,
.date-input .container input:nth-of-type(2):checked ~ .date-input__view-list > li:nth-of-type(2),
.date-input .container input:last-of-type:checked ~ .date-input__view-list > li:last-of-type {
  z-index: 1;
  visibility: visible;
  opacity: 1;

  transition-timing-function: ease-in;
  animation: none;
}

.date-input .container input:nth-of-type(2):checked ~ .date-input__nav::after {
  transform: translateX(100%);
}

.date-input .container input:last-of-type:checked ~ .date-input__nav::after {
  transform: translateX(200%);
}
