@import '_vars';

.date-input__view-days table {
  margin-bottom: 1px;
  border-collapse: collapse;
}

.date-input__view-days th,
.date-input__view-days td {
  position: relative;
  width: var(--cell-height);
  height: var(--cell-height);
  padding: 0;
  text-align: center;
  border: 1px solid var(--border-color);
}

.date-input__view-days th {
  vertical-align: bottom;
  border-top-color: transparent;
  border-right-color: transparent;
  border-left-color: transparent;
}

.date-input__view-months ol,
.date-input__view-years ol {
  margin: 0;
  padding: 0;
  list-style: none;
  border: solid var(--border-color);
  border-width: 0 1px 0 0;
}

.date-input__view-months ol {
  column-count: 2;
  column-gap: 0;
}

.date-input__view-months ol > li,
.date-input__view-years ol > li {
  position: relative;
  display: flex;
  align-items: center;
  height: var(--cell-height);
  padding: 0 1em;
  border: solid var(--border-color);
  border-width: 0 0 1px 1px;
}

.date-input__view-years ol {
  position: absolute;
  overflow-y: auto;
  max-height: 100%;
  width: 100%;
}

.date-input__view-days td:not(.disabled),
.date-input__view-months ol > li,
.date-input__view-years ol > li {
  cursor: pointer;
}

.date-input__view-days .current,
.date-input__view-days .selected,
.date-input__view-months .selected,
.date-input__view-years .selected {
  font-weight: bold;
}

.date-input__view-days .disabled,
.date-input__view-months .disabled {
  color: var(--disabled-color);
  cursor: not-allowed;
}

.date-input__view-days .selected::before,
.date-input__view-months .selected::before,
.date-input__view-years .selected::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  border: 0 solid var(--highlight-color);
}

.date-input__view-days .selected::before {
  right: 0;
  border-width: 3px;
}

.date-input__view-months .selected::before,
.date-input__view-years .selected::before {
  border-left-width: 3px;
}
